@()

@**

view for situation when user forgot acount password and would like new one
- responsive with Foundation
*@

@tmpl_index("") {

    <div class="row">
        <h1>@Messages("password_forgotten.h1")</h1>
    </div>

    <div class="row">
        <div class="large-4 medium-4 columns">
            <form action="@routes.LogInAndRegistrationController.doPasswordForgotten()" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label>@Messages("index.text.email")
                            <input type="text" name="email" value="" placeholder="@Messages("index.text.input.email")" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <input type="submit" name="submit" class="button [tiny small large]" value="@Messages("password_forgotten.text.ok")" />
                    </div>
                    <div class="large-6 columns">
                    </div>

                </div>

                <p></p>
                 = xxx@@escape.xom = idfs knfsak sa

            </form>
        </div>
    </div>
}